
    <% if (success && success.length > 0) { %> <!-- Correct checking -->  
        <div class="alert alert-success  alert-dismissible fade show col-6 offset-5">  
            <%= success.join('<br>') %>  
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>  
    <% } %>  
    
    <% if (error && error.length > 0) { %> <!-- Ensure to check for error -->  
        <div class="alert alert-danger  alert-dismissible fade show col-6 offset-5">  
            <%= error.join('<br>') %>  
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>  
    <% } %>  